<!DOCTYPE html>
<html itemtype="https://schema.org/WebApplication" lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Idea Rx</title>
    <meta name="apple-mobile-web-app-title" content="Idea Rx" />
    <meta name="mobile-web-app-capable" content="no" />
    <meta name="apple-touch-fullscreen" content="no" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, minimum-scale=1, maximum-scale=5, user-scalable=yes" />
    <meta name="theme-color" id="themeColor" content="rgb(0, 9, 15)" />

    <meta name="keywords" content="Bring your ideas into focus." />
    <meta name="description" content="A web app that helps folks zero in on the best ideas, words, phrases that apply to any situation." />

    <link rel="apple-touch-icon" sizes="120x120" href="images/icon120.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/icon180.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="images/icon192.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="images/icon512-apple-touch.png" />

    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="favicon.png" />

    <!-- <link rel="manifest" href="manifest.webmanifest" /> -->

    <link rel="stylesheet" href="styles/normalize.css" media="screen" />
    <link rel="stylesheet" href="styles/idearx.css" media="screen" />
  </head>

  <body>
    <app id="app" v-cloak>
      <modal></modal>
      <stage>
        <controls>
          <version>Version: {{appVersion}}</version>
        </controls>
        <hgroup>
          <h1>Idea Rx</h1>
          <p>Bring your ideas or intuitions into focus.</p>
          <!-- <h2 v-if="currentIdeaSet.name === null">Hello and Welcome!</h2>
          <p v-if="currentIdeaSet.name === null">If you have a bunch of options you are trying to choose from, we can help. To get started select one of our pre-made sets! In the future, you'll be able to upload your own dataset!</p> -->
        </hgroup>

        <controls class="vertical">
          <control class="vertical">
            <label for="ideaSetPicker">Pick a Focus</label>
            <select :title="'Select Focus' + (currentIdeaSet.name === null ? '' : ': ' + currentIdeaSet.name + ' is selected')" role="select" tabindex="0" aria-label="Select Focus" name="ideaSetPicker" id="ideaSetPicker" v-model="currentIdeaSet" @change="SelectIdeaSet()" class="big">
              <option :value="{}" disabled>Select</option>
              <option :title="set.description ? set.description : ''" v-for="set in allIdeaSets" :key="set.type" :value="set" v-if="!set.hidden">{{set.name}}</option>
            </select>
          </control>
        </controls>
        <p v-html="currentIdeaSet.description"></p>
        <workbench v-if="currentIdeaSet.name !== null">
          <controlgroup class="secondary">
            <controls>
              <select title="Select View" role="select" tabindex="0" aria-label="Select View" name="viewPicker" id="viewPicker" v-model="currentView">
                <option v-for="view in allViews" :key="view.value" :value="view">{{view.name}}</option>
              </select>
              <select title="Select Method" role="select" tabindex="0" aria-label="Select Method" :disabled="currentIdeaSet.locked" name="methodPicker" id="methodPicker" v-model="currentMethod" @change="HardRestartExercise()">
                <option v-for="method in allMethods" :key="method.value" :value="method">{{method.name}}</option>
              </select>
            </controls>
            <controls>
              <button id="button-undo" title="Undo" role="button" tabindex="0" aria-label="Undo" class="symbol hide-mobile" v-if="currentMethod.allowUndo" :disabled="!currentExerciseIsDirty" @click="UndoLastIdea()"><icon class="undo"></icon></button>
              <button id="button-redo" title="Redo" role="button" tabindex="0" aria-label="Redo" class="symbol hide-mobile" v-if="currentMethod.allowUndo" :disabled="ideasLIFOForRedo.length === 0" @click="RedoLastIdea()"><icon class="redo"></icon></button>
              <button id="button-restart" title="Restart" role="button" tabindex="0" aria-label="Restart" :disabled="!currentExerciseIsDirty" @click="HardRestartExercise()">Restart</button>
            </controls>
          </controlgroup>
          <ideas v-if="getIdeasFromCurrentGenerationBasedOnMethod.length > 0 && getIdeasFromCurrentGenerationBasedOnMethod[0].parent!==null && getIdeasFromCurrentGenerationBasedOnMethod[0].parent!==undefined  && getIdeasFromCurrentGenerationBasedOnMethod[0].parent.name !== currentIdeas.name">
            <idea :style="{backgroundColor: 'hsla(' + getLastSelectedIdea.hsl + ', .3)' }" class="explored selected">{{getLastSelectedIdea.name}}</idea>
          </ideas>
          <ideas id="idpicker" v-if="!showExerciseResult">
            <idea :title="idea.name" :key="idea.name" @keydown.space.prevent="SelectIdea(idea)" role="option" :tabindex="idea.isSelected ? -1 : 0" aria-label="Idea" :style="{backgroundColor: 'hsla(' + idea.hsl + ', .3)' }" :class="{selected: idea.isSelected && currentMethod.value !== 'binary'}" v-for="(idea, index) in getIdeasFromCurrentGenerationBasedOnMethod" @click="SelectIdea(idea)">
              <tooltip v-if="idea.description !== null"> {{idea.description}} </tooltip>
              {{idea.lowestSelectedDescendent !== '' ? idea.lowestSelectedDescendent : idea.name}}
            </idea>
          </ideas>
          <ideas v-if="showExerciseResult">
            <idea v-for="idea in getLowestSelectedDescendantsComputed" class="selected" :style="{backgroundColor: 'hsla(' + idea.hsl + ', .3)' }"><tooltip v-if="idea.description !== null">{{idea.description}}</tooltip>{{idea.name}}</idea>
          </ideas>
          <controls v-if="showAIActions">
            <control id="aiactions">
              <button class="action" :class="{link: action.url!==''}" v-for="action in hydratedAIActions" @click="HandleActionAIClick(event, action)">{{action.request}}</button>
            </control>
          </controls>
        </workbench>
      </stage>
    </app>
    <script src="helpers/console-enhancer.js" type="text/javascript"></script>
    <script src="helpers/vue.min.js" type="text/javascript"></script>
    <script src="models/MethodObject.js" type="text/javascript"></script>
    <script src="models/AIActionObject.js" type="text/javascript"></script>
    <script src="models/IdeaObject.js" type="text/javascript"></script>
    <script src="models/IdeaSetObject.js" type="text/javascript"></script>
    <script src="models/ViewObject.js" type="text/javascript"></script>
    <script src="scripts/idearx-controller.js" type="text/javascript"></script>
  </body>
</html>
