@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root {
    --maxWidth: 1024px;
    --defaultUnit: 20px;
    --largeUnit: calc(var(--defaultUnit) * 4);
    --borderRadius: 25px;
    --bodyFont: "Jura", sans-serif;

    --horMargin: clamp(var(--defaultUnit), 5vw, var(--largeUnit));
    --horPadding: clamp(var(--defaultUnit), 5vw, var(--largeUnit));
    --vertMargin: var(--largeUnit);
    --vertPadding: var(--largeUnit);

    --colorBackground: hsl(0, 0%, 95%);
    --colorForeground: hsl(0, 0%, 20%);
    --colorHighlight: hsl(190, 100%, 82%);
    --colorStageBackground: hsl(0, 100%, 100%);

    --shortTransition: 50ms ease-in-out all;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: var(--bodyFont);
    padding: 0;
    margin: 0;
    background: var(--colorBackground);
    color: var(--colorForeground);
}


[v-cloak] {
    transition: 0ms ease-out opacity;
    opacity: 0;
}

h1 {
    font-size: 2.75em;
}

h2, h3, h4, h5, h6 {
    font-weight: 500;
}

app {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 0;
    background: var(--colorStageBackground);
}

stage {
    display: block;
    width: 100%;
    /* height: 100%; */
    min-height: calc(100vh - var(--vertPadding));
    max-width: calc(var(--maxWidth) - 2 * var(--horPadding));
    padding: 0 var(--horPadding) var(--vertPadding);
    background: var(--colorStageBackground);
}

button {
    border: 1px solid black;
    cursor: pointer;
    padding: calc(.5 * var(--defaultUnit)) var(--defaultUnit);
    background-color: var(--colorBackground);
    color: var(--colorForeground);
    border-radius: var(--borderRadius);
    transition: var(--shortTransition);
}

select {
    display: flex;
    background-color: var(--colorBackground);
    background-image: url(../images/chevron-down.svg);
    background-position: right 13px center;
    background-repeat: no-repeat;
    background-size: 15px;
    padding: calc(.5 * var(--defaultUnit)) calc(2.5 * var(--defaultUnit)) calc(.5 * var(--defaultUnit)) calc(1 * var(--defaultUnit));
    width: auto;
    outline: none;
    border: 1px solid var(--colorForeground);
    border-radius: var(--borderRadius);
}


:disabled, .disabled {
    user-select: none;
    opacity: .3;
    cursor: default;
    box-shadow: none;
}

hgroup {
    margin-bottom: var(--defaultUnit);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hgroup:first-of-type {
    text-align: center;
    padding-bottom: var(--defaultUnit);
}

hgroup h1, hgroup h2, hgroup p {
    margin: 0;
    line-height: 150%;
    padding: 0;
    max-width: 700px;
}

hgroup h2 {
    margin-top: calc(2 * var(--defaultUnit));
}

workbench {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, .2);
    margin-top: calc(2 * var(--defaultUnit));
}

workbench p {
    width: 100%;
    text-align: center;
}

controls {
    display: flex;
    gap: var(--defaultUnit);
    justify-content: space-between;
    align-items: baseline;
    margin-top: var(--defaultUnit);
    transition: var(--shortTransition);
}

controls control {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: baseline;
    word-wrap: nowrap;
}

controls.vertical {
    justify-content: center;
    align-items: center;
}

controls.vertical control {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

ideas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: calc(.5 * var(--defaultUnit));
    width: 100%;
    margin: 0;
}

idea {
    display: flex;
    cursor: pointer;
    justify-content: center;
    font-size: 1.25em;
    align-items: start;
    border: 1px solid black;
    padding: calc(.75 * var(--defaultUnit)) var(--defaultUnit);
    background: var(--colorBackground);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
    transition: 50ms ease-in-out all;
    /* border-radius: var(--borderRadius); */
    font-weight: 800;
    background: var(--colorStageBackground);
    user-select: none;
    -webkit-user-select: none;
    transform: translateY(0px);
}

idea.selected, idea.selected:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    transform: translateY(-1px);
    cursor: default;
}

idea.selected:before {
    display: inline-block;
    content: '✔';
    padding-right: calc(.5 * var(--defaultUnit));
}

idea:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, .1);
    transform: translateY(-1px);
}

idea:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .1);
    transform: translateY(0px);

}

tooltip {
    display: block;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    opacity: 0;
    position: absolute;
    width: calc(100% - 2.5 * var(--defaultUnit));
    font-size: .65em;
    padding: calc(.5 * var(--defaultUnit)) calc(.8 * var(--defaultUnit));
    transform: translate(0px, calc(-.5 * var(--defaultUnit) - 46px));
    background: var(--colorForeground);
    color: var(--colorBackground);
    bottom: -2%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .3);
    border-radius: calc(.25 * var(--borderRadius));
    transition: 200ms ease-in-out all;
    transition-delay: 0ms;
}

tooltip:after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--colorForeground) transparent transparent transparent;
}

idea:hover tooltip {
    opacity: .9;
    transition-delay: 150ms;
    transform: translateY(calc(-.5 * var(--defaultUnit) - 57px));
}

version {
    display: block;
    /* position: absolute; */
    top: 10px;
    font-size: .8em;
}