@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root {
    --maxWidth: 1024px;
    --defaultUnit: 20px;
    --largeUnit: calc(var(--defaultUnit) * 4);
    --borderRadius: 5px;
    --bodyFont: "Jura", sans-serif;

    --horMargin: clamp(var(--defaultUnit), 5vw, var(--largeUnit));
    --horPadding: clamp(var(--defaultUnit), 5vw, var(--largeUnit));
    --vertMargin: var(--largeUnit);
    --vertPadding: var(--largeUnit);

    --colorBackground: hsl(0, 0%, 95%);
    --colorForeground: hsl(0, 0%, 20%);
    --colorHighlight: hsl(190, 100%, 82%);
    --colorStageBackground: hsl(0, 100%, 100%);

    --shortTransition: 50ms ease-in-out all;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--bodyFont);
    padding: 0;
    margin: 0;
    background: var(--colorBackground);
    color: var(--colorForeground);
}


[v-cloak] {
    transition: 0ms ease-out opacity;
    opacity: 0;
}

h2, h3, h4, h5, h6 {
    font-weight: 500;
}

app {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: var(--colorBackground);
}

stage {
    display: block;
    width: 100%;
    height: auto;
    max-width: calc(var(--maxWidth) - 2 * var(--horPadding));
    padding: var(--vertPadding) var(--horPadding);
    background-color: var(--colorStageBackground);
}

button {
    border: 1px solid black;
    padding: var(--defaultUnit);
    background: var(--colorHighlight);
    color: var(--colorForeground);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
    border-radius: var(--borderRadius);
    transition: var(--shortTransition);
}

:disabled, .disabled {
    user-select: none;
    opacity: .3;
}

hgroup {
    margin-bottom: var(--defaultUnit);
}

hgroup:first-of-type {
    text-align: center;
    margin-bottom: calc(2 * var(--defaultUnit));
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: var(--defaultUnit);
}

hgroup h1, hgroup h2, hgroup p {
    margin: 0;
    line-height: 150%;
    padding: 0;
}

controls {
    display: flex;
    gap: var(--defaultUnit);
    justify-content: space-between;
    align-items: center;
    margin: var(--defaultUnit) 0;
    transition: var(--shortTransition);
    /* border-radius: var(--borderRadius); */
    /* border-top: 1px solid rgba(0, 0, 0, .2); */
    /* padding: 0 var(--defaultUnit); */
}

controls control {
    display: flex;
    gap: 10px;
    justify-content: end;
    word-wrap: nowrap;
}

picker {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--defaultUnit);
    margin: 0;
}

idea {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex: 1 0 21%;
    border: 1px solid black;
    padding: var(--defaultUnit);
    height: 140px;
    background: var(--colorBackground);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
    transition: 50ms ease-in-out all;
    border-radius: var(--borderRadius);
    font-weight: 800;
}

idea.selected, idea.selected:hover {
    border-color: green;
    background: rgba(0, 255, 0, .1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    transform: translateY(0px);
}

idea:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, .1);
    transform: translateY(-1px);
}

idea:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .1);
    transform: translateY(0px);

}

version {
    display: block;
    /* position: absolute; */
    top: 10px;
    font-size: .8em;
}